<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:mysql="http://sammor.javaeye.com/schema/tags"
    xsi:schemaLocation="  
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
http://sammor.javaeye.com/schema/tags     http://sammor.javaeye.com/schema/tags/springtags.xsd  
 http://code.alibabatech.com/schema/dubbo     http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">  
   <mysql:client id="sqlMapClient" datasourceip="localhsost"  username="root" />  
   
    <import resource="provider.xml"/>
</beans> 